// $myNav
$myOrange: #ff4a11;
$myBlue: #447ff4;
$myBlueLight: #2ea3f2;
$myBgColor: #262626;
$bp-md: 600px;
$bp-lg: 800px;

@mixin myHeader {
  // margin-top: 50px;
  min-height: 100vh;
  color: rgb(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./assets/galaxy.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Bruno Ace SC", cursive;
}

// ==================================================
// CARD
// ==================================================
@mixin card {
}

// ==================================================
// EFFEKTE
// ==================================================

@mixin parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin diagonal {
  --skew-angle: -5deg;
  position: relative;
  isolation: isolate;
  &::after {
    content: "";
    background: linear-gradient(
      45deg,
      rgba(15, 36, 0, 1) 0%,
      rgba(67, 121, 9, 1) 35%,
      rgba(188, 255, 0, 0.3) 100%
    );
    opacity: 0.9;
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
  }
}

// Sadly.. doesn´t work as expected - Iĺl get back to it later.
// $myNav: (
//   ul: (
//     margin: 0,
//     padding: 0,
//     list-style: none,
//     display: flex,
//     justify-content: space-evenly
//   ),
//   li: (
//     display: inline-block
//   ),
//   a: (
//     display: block,
//     padding: 6px 12px,
//     text-decoration: none,
//     '&:hover': (
//       color: $myOrange
//     )
//   )
// );

$myFont: Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
