/* just a snippet.. */
.cards {
  border: 2px solid red;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}
@media (min-width: $bp-md) {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $bp-lg) {
  grid-template-columns: repeat(4, 1fr);
}
.card {
  border: 1px solid $myBlue;
}

/* ============================================================ */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  grid-auto-flow: row;
  justify-content: space-evenly;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "HTML HTML CSS CSS JS JS"
    "VITE VITE VITE Tailwind Tailwind Tailwind"
    "WP1 WP1 WP2 WP2 WP3 WP3"
    "WP4 WP4 WP5 WP5 me GitHub";
  width: 66%;
}

.HTML {
  grid-area: HTML;
}

.CSS {
  grid-area: CSS;
}

.JS {
  grid-area: JS;
}

.VITE {
  grid-area: VITE;
}

.Tailwind {
  grid-area: Tailwind;
}

.WP1 {
  grid-area: WP1;
}

.WP2 {
  grid-area: WP2;
}

.WP3 {
  grid-area: WP3;
}

.WP4 {
  grid-area: WP4;
}

.WP5 {
  grid-area: WP5;
}

.me {
  grid-area: me;
}

.GitHub {
  grid-area: GitHub;
}

html,
body,
.cards {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */

.cards * {
  border: 1px solid red;
  position: relative;
}

.cards *:after {
  content: attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* HTML:  */
/* <div class="cards">
  <div class="HTML card"></div>
  <div class="CSS card"></div>
  <div class="JS card"></div>
  <div class="VITE card"></div>
  <div class="Tailwind card"></div>
  <div class="WP1 card"></div>
  <div class="WP2 card"></div>
  <div class="WP3 card"></div>
  <div class="WP4 card"></div>
  <div class="WP5 card"></div>
  <div class="me card"></div>
  <div class="GitHub card"></div>
</div> */

#skills {
  min-block-size: 100vh;
  display: grid;
  place-content: center;
}

.cards {
}

.card {
  border: 1px solid red;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
